html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "col1 col2 col3";
  gap: .75em;
}

.banner {
  grid-area: banner;
  margin: auto;
}

.presentation {
  align-content: flex-start;
}

.navigation {
  grid-area: banner;
  align-self: end;
  color: #0074d9;
  border-color: #fff;
  padding: 1.5rem 1rem;
}

h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 1.125rem;
  margin: 0;
}

header {
  padding: .75em 1em .6em;
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

header h1 {
  font-size: 1.125rem;
  padding: 1rem;
}

header img {
  height: 5%;
  width: 5%;
}

header p {
  font-size: 1.125rem;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0 1rem;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #0074d9;
  border-color: #fff;
}

p {
  margin: 0 0 1.5rem;
  font-size: 1.125rem;
}

section {
  padding: 1rem;
}

section > ul {
  display: flex;
  list-style-type: none;
  padding: .75em 1em .6em;
  margin: 0;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

section > ul li {
  background-color: #fff;
  width: 20em;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 40em) {

  header {
    flex-direction: row;
    justify-content: space-between;
  }

}
